@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

html, body {
    height: 100%;
    width: 100%;
}

#calendar {
    height: 100%;
    .row {
        background-color: #000;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 33.33333%;

        .box {
            display: flex;
            outline: 1px solid #333;
            flex-direction: column;
            flex-grow: 1;
            height: 100%;
            background-size: cover;
            background-position: center center;
        }
    }
}
